#print all processes
alias aps='ps aux'
#search processes by name
gps(){ ps aux|grep "$@";}

#list the net status
alias ns='netstat -nltp'
#search the process using the port ect
gns(){ sudo netstat -nltp|grep "$@";}

#find file by name
ff(){ find "$1" -name "$2";}


#shutdown me
alias down=' sudo shutdown -h now'

#grep history
hg(){ history | grep $* | sort -k 2 | uniq -s 7 | sort -g | more;  }
